@import "tailwindcss";

@theme {
  /* Text colors */
  --color-text-50: #0d0d0d;
  --color-text-100: #1a1a1a;
  --color-text-200: #333333;
  --color-text-300: #4d4d4d;
  --color-text-400: #666666;
  --color-text-500: #808080;
  --color-text-600: #999999;
  --color-text-700: #b3b3b3;
  --color-text-800: #cccccc;
  --color-text-900: #e6e6e6;
  --color-text-950: #f2f2f2;

  /* Background colors */
  --color-background-50: #0d0d0d;
  --color-background-100: #1a1a1a;
  --color-background-200: #333333;
  --color-background-300: #4d4d4d;
  --color-background-400: #666666;
  --color-background-500: #808080;
  --color-background-600: #999999;
  --color-background-700: #b3b3b3;
  --color-background-800: #cccccc;
  --color-background-900: #e6e6e6;
  --color-background-950: #f2f2f2;

  /* Primary colors */
  --color-primary-50: #000d1a;
  --color-primary-100: #001933;
  --color-primary-200: #003366;
  --color-primary-300: #004c99;
  --color-primary-400: #0066cc;
  --color-primary-500: #007fff;
  --color-primary-600: #3399ff;
  --color-primary-700: #66b2ff;
  --color-primary-800: #99ccff;
  --color-primary-900: #cce5ff;
  --color-primary-950: #e5f2ff;

  /* Secondary colors */
  --color-secondary-50: #000e1a;
  --color-secondary-100: #001c33;
  --color-secondary-200: #003866;
  --color-secondary-300: #005499;
  --color-secondary-400: #0070cc;
  --color-secondary-500: #008cff;
  --color-secondary-600: #33a3ff;
  --color-secondary-700: #66baff;
  --color-secondary-800: #99d1ff;
  --color-secondary-900: #cce8ff;
  --color-secondary-950: #e5f4ff;

  /* Accent colors */
  --color-accent-50: #00111a;
  --color-accent-100: #002333;
  --color-accent-200: #004666;
  --color-accent-300: #006999;
  --color-accent-400: #008bcc;
  --color-accent-500: #00aeff;
  --color-accent-600: #33beff;
  --color-accent-700: #66cfff;
  --color-accent-800: #99dfff;
  --color-accent-900: #ccefff;
  --color-accent-950: #e5f7ff;

  /* Headline Typography */
  --font-headline-1: Sora;
  --text-headline-1: 96px;

  --font-headline-2: Sora;
  --text-headline-2: 60px;

  --font-headline-3: Sora;
  --text-headline-3: 48px;

  --font-headline-4: Sora;
  --text-headline-4: 34px;

  --font-headline-5: Sora;
  --text-headline-5: 24px;

  --font-headline-6: Sora;
  --text-headline-6: 20px;

  /* Body Typography */
  --font-body-1: Inter;
  --text-body-1: 16px;

  --font-body-2: Inter;
  --text-body-2: 14px;

  /* Subtitle Typography */
  --font-subtitle-1: Sora;
  --text-subtitle-1: 16px;

  --font-subtitle-2: Sora;
  --text-subtitle-2: 14px;

  /* Button Typography */
  --font-button: Inter;
  --text-button: 14px;

  /* Overline Typography */
  --font-overline: Inter;
  --text-overline: 10px;

  /* Caption Typography */
  --font-caption: Inter;
  --text-caption: 12px;

  --font-sora: var(--font-sora);
  --font-inter: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text-50);
  background: var(--color-background-950);
}
